In [1]:
import pandas as pd
import numpy as np
from sklearn.tree import DecisionTreeClassifier
House_dataset = pd.read_csv(r"F:\project.py\data set predection\House price predection\Housing.csv")
House_dataset

,price,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,13300000,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,12250000,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,12250000,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,12215000,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,11410000,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,1820000,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,1767150,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,1750000,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,1750000,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,1750000,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [2]:
House_dataset.shape

(545, 13)

In [3]:
House_dataset.describe()

,price,area,bedrooms,bathrooms,stories,parking
count,5.450000e+02,545.000000,545.000000,545.000000,545.000000,545.000000
mean,4.766729e+06,5150.541284,2.965138,1.286239,1.805505,0.693578
std,1.870440e+06,2170.141023,0.738064,0.502470,0.867492,0.861586
min,1.750000e+06,1650.000000,1.000000,1.000000,1.000000,0.000000
25%,3.430000e+06,3600.000000,2.000000,1.000000,1.000000,0.000000
50%,4.340000e+06,4600.000000,3.000000,1.000000,2.000000,0.000000
75%,5.740000e+06,6360.000000,3.000000,2.000000,2.000000,1.000000
max,1.330000e+07,16200.000000,6.000000,4.000000,4.000000,3.000000

In [4]:
x=House_dataset[["area","bedrooms",	"bathrooms","stories","mainroad","guestroom","basement","hotwaterheating","airconditioning","parking","prefarea","furnishingstatus"]]
x

,area,bedrooms,bathrooms,stories,mainroad,guestroom,basement,hotwaterheating,airconditioning,parking,prefarea,furnishingstatus
0,7420,4,2,3,yes,no,no,no,yes,2,yes,furnished
1,8960,4,4,4,yes,no,no,no,yes,3,no,furnished
2,9960,3,2,2,yes,no,yes,no,no,2,yes,semi-furnished
3,7500,4,2,2,yes,no,yes,no,yes,3,yes,furnished
4,7420,4,1,2,yes,yes,yes,no,yes,2,no,furnished
...,...,...,...,...,...,...,...,...,...,...,...,...
540,3000,2,1,1,yes,no,yes,no,no,2,no,unfurnished
541,2400,3,1,1,no,no,no,no,no,0,no,semi-furnished
542,3620,2,1,1,yes,no,no,no,no,0,no,unfurnished
543,2910,3,1,1,no,no,no,no,no,0,no,furnished
544,3850,3,1,2,yes,no,no,no,no,0,no,unfurnished

In [5]:
y=House_dataset["price"]
y

0      13300000
1      12250000
2      12250000
3      12215000
4      11410000
         ...
540     1820000
541     1767150
542     1750000
543     1750000
544     1750000
Name: price, Length: 545, dtype: int64

In [6]:
x["mainroad"] = x["mainroad"].map({"no": 0, "yes": 1})
x["guestroom"] = x["guestroom"].map({"no": 0, "yes": 1})
x["basement"] = x["basement"].map({"no": 0, "yes": 1})
x["hotwaterheating"] = x["hotwaterheating"].map({"no": 0, "yes": 1})  # Fixed mapping
x["airconditioning"] = x["airconditioning"].map({"no": 0, "yes": 1})
x["prefarea"] = x["prefarea"].map({"no": 0, "yes": 1})
x["furnishingstatus"] = x["furnishingstatus"].map({"furnished": 0, "semi-furnished": 1, "unfurnished": 2})


x = x.fillna(x.select_dtypes(include=['number']).mean())

C:\Users\gokul\AppData\Local\Temp\ipykernel_21004\4189771007.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["mainroad"] = x["mainroad"].map({"no": 0, "yes": 1})
C:\Users\gokul\AppData\Local\Temp\ipykernel_21004\4189771007.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["guestroom"] = x["guestroom"].map({"no": 0, "yes": 1})
C:\Users\gokul\AppData\Local\Temp\ipykernel_21004\4189771007.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["basement"] = x["basement"].map({"no": 0, "yes": 1})
C:\Users\gokul\AppData\Local\Temp\ipykernel_21004\4189771007.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["hotwaterheating"] = x["hotwaterheating"].map({"no": 0, "yes": 1})  # Fixed mapping
C:\Users\gokul\AppData\Local\Temp\ipykernel_21004\4189771007.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["airconditioning"] = x["airconditioning"].map({"no": 0, "yes": 1})
C:\Users\gokul\AppData\Local\Temp\ipykernel_21004\4189771007.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["prefarea"] = x["prefarea"].map({"no": 0, "yes": 1})
C:\Users\gokul\AppData\Local\Temp\ipykernel_21004\4189771007.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x["furnishingstatus"] = x["furnishingstatus"].map({"furnished": 0, "semi-furnished": 1, "unfurnished": 2})

In [15]:
model = DecisionTreeClassifier()
model.fit(x,y)
area=int(input("Enter the area(1000/10000):"))
bedrooms=int(input("Enter the bedrooms(1/4):"))
bathrooms=int(input("Enter the bathrooms(1/4):"))
stories	=int(input("Enter the stories(1/4):"))
mainroad=input("Enter the mainroad(yes/no)")
guestroom=input("Enter the guestroom(yes/no):")	
basement=input("Enter the basement(no/yes):")
hotwaterheating=input("Enter the hotwaterheating(no):")
airconditioning=input("Enter the airconditioning(no/yes):")
parking=int(input("Enter the parking(0/3):"))
prefarea=input("Enter the prefarea(no/yes):")
furnishingstatus=input("Enter the furnishingstatus(furnished/unfurnished/semi-furnished) ")

mainroad = 1 if mainroad.lower() == "yes" else 0
guestroom = 1 if guestroom.lower() == "yes" else 0
basement = 1 if basement.lower() == "yes" else 0
hotwaterheating = 1 if hotwaterheating.lower() == "yes" else 0
airconditioning = 1 if airconditioning.lower() == "yes" else 0
prefarea = 1 if prefarea.lower() == "yes" else 0
furnishingstatus = {"furnished": 0, "semi-furnished": 1, "unfurnished": 2}.get(furnishingstatus.lower(), -1)

# Prepare input data for prediction
user_data = [[area, bedrooms, bathrooms, stories, mainroad, guestroom, basement, 
              hotwaterheating, airconditioning, parking, prefarea, furnishingstatus]]

# Predict house price
predicted_price = model.predict(user_data)
print("Predicted House Price:", predicted_price[0])

Enter the area(1000/10000): 5000
Enter the bedrooms(1/4): 4
Enter the bathrooms(1/4): 3
Enter the stories(1/4): 1
Enter the mainroad(yes/no) no
Enter the guestroom(yes/no): yes
Enter the basement(no/yes): no
Enter the hotwaterheating(no): no
Enter the airconditioning(no/yes): no
Enter the parking(0/3): 3
Enter the prefarea(no/yes): no
Enter the furnishingstatus(furnished/unfurnished/semi-furnished)  semi-unfurnished

Predicted House Price: 4200000

C:\Users\gokul\Downloads\New folder\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but DecisionTreeClassifier was fitted with feature names
  warnings.warn(